<!DOCTYPE html>
<html lang="{{@website.language}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{metaTitleRaw}}</title>
    {{metaDescription}}
    {{metaRobots}}
    {{canonicalLink}}
    {{{socialMetaTags}}}
    {{#if @pagination}}
        {{#if @pagination.previousPage}}
            <link rel="prev" href="{{pageUrl @pagination.context @pagination.previousPage}}">
        {{/if}}
        {{#if @pagination.nextPage}}
            <link rel="next" href="{{pageUrl @pagination.context @pagination.nextPage}}">
        {{/if}}
    {{/if}}
    <link rel="icon" href="{{asset "images/logo-icon.svg"}}" type="image/svg+xml">
    <link rel="stylesheet" href="{{css "main.css"}}">
    {{{publiiHead}}}
    <link rel="stylesheet" href="{{css "cookie-banner.css"}}">
    <link rel="stylesheet" href="{{css "sitestyle.css"}}">
    <link rel="stylesheet" href="{{css "post-templates.css"}}">
    <link rel="stylesheet" href="{{css "page-fixes.css"}}">
    {{#if @config.custom.googleAnalyticsId}}
    <script>
        (function () {
            var measurementId = '{{@config.custom.googleAnalyticsId}}';
            var allowedHostsRaw = '{{@config.custom.googleAnalyticsHosts}}';
            var allowedHosts = allowedHostsRaw
                .split(',')
                .map(function (item) {
                    return item.trim().toLowerCase();
                })
                .filter(Boolean);
            var hostname = (window.location.hostname || '').toLowerCase();
            var protocol = window.location.protocol;
            var isPreviewProtocol = protocol === 'file:';
            var isLocalTestHost = hostname === 'localhost' || hostname === '127.0.0.1' || hostname === '::1';
            var isAllowedHost = allowedHosts.length ? allowedHosts.indexOf(hostname) > -1 : !isLocalTestHost && !isPreviewProtocol;

            if (!measurementId || isPreviewProtocol || isLocalTestHost || !isAllowedHost) {
                return;
            }

            var script = document.createElement('script');
            script.async = true;
            script.src = 'https://www.googletagmanager.com/gtag/js?id=' + encodeURIComponent(measurementId);
            document.head.appendChild(script);

            window.dataLayer = window.dataLayer || [];
            window.gtag = window.gtag || function () {
                window.dataLayer.push(arguments);
            };

            window.gtag('js', new Date());
            window.gtag('config', measurementId);
        })();
    </script>
    {{/if}}
</head>
<body>
